:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 2.75rem;
}

body {
  padding: 15px;
}

h1 {
  font-size: var(--font-size-5xl);
  font-weight: 400;
  line-height: var(--font-size-5xl);
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;

  li {
    a {
      font-size: var(--font-size-5xl);
      font-weight: 400;
      color: #000;
      text-decoration: none;
      line-height: var(--font-size-5xl);
      span:first-child {
        &:hover {
          color: #8a8a8a;
        }
      }
    }
  }
}

